body {
    font-size: 32px;
    background-color: green;
}

/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */

 table.game button{
     width: 60px;
     height: 60px;
     font-size: 40px;
 } 

/* body {
    font-size: 32px;
    background-color: lightblue;
    color: rgb(78, 0, 180);
}

#mtext span {
    text-decoration-style: wavy;
    color:white;
    text-decoration-line: underline;
} */
