body {
    font-size: 32px;
    background-color: lightgray;
}

/* body {
    font-size: 32px;
    background-color: lightblue;
    color: rgb(78, 0, 180);
}

#mtext span {
    text-decoration-style: wavy;
    color:white;
    text-decoration-line: underline;
} */
